<ion-menu [content]="content" side="left">
  <ion-header>
    <ion-toolbar>
      <ion-title>Pins</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div *ngIf="map">
        <div ion-item *ngFor="let pin of map.pins" (click)="map.centreOnPin(pin.id)">
          <button ion-button full>
            {{ pin.name }}
          </button>
          <button ion-button outline item-end icon-left (click)="map.removePin(pin.id)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </div>
      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <ion-title>Network</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    Test
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<!--<ion-nav [root]="rootPage"></ion-nav>-->
