@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Permanent+Marker');

/*
  FONTS
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
*/

/*.nav-link {
  color: #523e7c;
}*/

#search-bar {
  margin-top: 5px;
  float: left;
  height: 30px;
  max-width: 60%;
}
#search-button {
  float: left;
  margin-left: 5px;
}
#search-button img {
  height: 30px;
  width: 30px;
}
#navbarSupportedContent ul {
  clear: both;
}

#page-title {
  margin: auto;
  font-family: 'Permanent Marker', cursive;
}

#heading-intro {
  max-width: 60%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px;
  border-radius: 10px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

#body {
  /*position: absolute;
  top: 500px;*/
  margin-top: 15px;
  margin-bottom: 15px;
}

/*Tablets, desktops, laptops*/
@media (min-width: 801px) {
  .nav-item {
    margin-left: 20px;
  }
  #title-bg {
    background-image: url(../resources/header-bg.png);
    width: 100%;
    height: 450px;
    z-index: -1;
  }

  #tile-bg-content {
    position: relative;
    left: 30%;
    top: 30%;
  }

  #page-title {
    font-size: 124px;
  }

  #heading-intro {
    font-size: 24px;
    position: relative;
    right: 10%;
  }
}

/*smaller devices*/
@media (max-width: 800px) {
  #title-bg {
    background-image: url(../resources/header-bg-sm.png);
    width: 100%;
    height: 450px;
    z-index: -1;
  }

  #tile-bg-content {
    position: relative;
    left: 20%;
    top: 20%;
  }

  #page-title {
    font-size: 64px;
  }
}

.screenshot {
  float: left;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 40%;
}

#contact {
  margin-bottom: 10px;
}
