/*.nav-link {
  color: #523e7c;
}*/

#search-bar {
  margin-top: 5px;
  float: left;
  height: 30px;
  max-width: 60%;
}
#search-button {
  float: left;
  margin-left: 5px;
}
#search-button img {
  height: 30px;
  width: 30px;
}
#navbarSupportedContent ul {
  clear: both;
}

#body {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*Tablets, desktops, laptops*/
@media (min-width: 801px) {
  .nav-item {
    margin-left: 20px;
  }
}

/*smaller devices*/
@media (max-width: 800px) {

}

.screenshot {
  float: left;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 40%;
}
